$primary-color: #F8C6C9;
$secondary-color: #f9e6e7;

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  width: 100%;
  height: 50px;

  h1 {
    margin: 0;
  }
}

main {
  display: flex;
  justify-content: center;
  margin: 50px;
  flex-grow: 1;
}

.calculator-sec {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $primary-color;
  border-radius: 15px;
  max-width: 400px;

  &__name {
    padding: 5px;
    font-weight: bold;
    margin: 5px;
    text-align: center;
  }

  &__display {
    width: 92%;
    padding: 16px;
    font-size: 5rem;
    text-align: right;
    border: none;
    background-color: $secondary-color;
    color: white;
  }
}

.btn-sec {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  padding: 25px;

  &__btn {
    border: none;
    border-radius: 50px;
    background-color: whitesmoke;
    width: 75px;
    height: 75px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;

    &:active {
      background-color: blue;
    }
  }
}

#divide { grid-area: 1 / 4 / 2 / 5; }
#multiply { grid-area: 2 / 4 / 3 / 5; }
#minus { grid-area: 3 / 4 / 4 / 5; }
#plus { grid-area: 4 / 4 / 5 / 5; }
#equals { grid-area: 5 / 4 / 6 / 5; }
#decimal { grid-area: 5 / 3 / 6 / 4; }

#clear { 
  grid-area: 1 / 1 / 2 / 4;
  grid-column: 1 / 4;
  width: 100%;
}

#nine { grid-area: 2 / 3 / 3 / 4; }
#eight { grid-area: 2 / 2 / 3 / 3; }
#seven { grid-area: 2 / 1 / 3 / 2; }

#six { grid-area: 3 / 3 / 4 / 4; }
#five { grid-area: 3 / 2 / 4 / 3; }

#two { grid-area: 4 / 2 / 5 / 3; }
#one { grid-area: 4 / 1 / 5 / 2; }

#zero { 
  grid-area: 5 / 2 / 6 / 3;
  grid-column: 1 / 3;
  width: 100%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  height: 50px;
  width: 100%;
}